{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
{#    <a class="btn btn btn-outline-danger" id="test-btn">test</a>#}
{#    <div id="test-div"></div>#}

    <page data-title="homepage">
        <!--header section-->
        <section id="header-section">
            <div>
                <h1 class="header-text">{{ headerSection.text1 }}</h1>
                {#<p>{{ headerSection["text2"] }}</p>#}
                <a href="#reservation-section" class="btn btn-outline-light header-button">Reserve Now</a>
            </div>
        </section>

        <!--menu section-->
        <section id="menu-section">
            <div class="container py-5">
                <div class="text-center row">
                    <h2>Our Menu</h2>
                    <p>Our menu changes occasionally. Any meat can be replaced with tofu or saitan. Ask our server for more information about specific allergen.</p>
                </div>
                <div class="text-center my-3 row">
                    {% for category in menuCategories %}
                        <a class="col-lg py-lg-3 col-md-6 py-md-2 my-sm-2 col-6 my-2 btn menu-section-btn
                            {% if category.categoryTitle == "Main Dishes" %}
                            btn-dark
                            {% else %}
                            btn-outline-dark
                            {% endif %}
                            " onclick="getMenu({{ category.id }})">
                            {{ category.categoryIcon|raw }} {{ category.categoryTitle }}
                        </a>
                    {# href="/menu-category/{{ category.id }}" #}
                    {% endfor %}
                </div>
                <div class="row menu-items-row px-lg-5 mx-lg-5">
                    <div class="col-lg-6 offset-lg-3 col-sm-12" id="menuItemsBox">

                        {% for menuItem in menuItemsDefault %}
                            <div>
                                <div class="d-flex justify-content-between"><span class="menu-item-title">{{ menuItem.menuItem }}</span> <span>{{ menuItem.price }}€</span></div>
                                <p>{{ menuItem.menuDescription }}</p>
                            </div>
                        {% endfor %}



                    </div>
                    <div class="col-lg-6 col-sm-12">

                    </div>
                </div>
            </div>
        </section>

        <!--hours section-->
        <section id="hours-section">
            <div class="container text-center">
                <h2 class="text-decoration-underline">{{ hoursSectionMain.text1 }}</h2>
                <div class="row">
                    <div class="col">
                        <h3>{{ hoursSection1.text1 }}</h3>
                        <h4>{{ hoursSection1.text2 }}</h4>
                    </div>
                    <div class="col">
                        <h3>{{ hoursSection2.text1 }}</h3>
                        <h4>{{ hoursSection2.text2 }}</h4>
                    </div>
                </div>
                <!--            <div class="row special-announcement">-->
                <!--                <span>Closed for Summer Break: 15 July - 1 August 2022</span>-->
                <!--            </div>-->
            </div>
        </section>

        <!--reservation section-->
        <section id="reservation-section">
            <div class="container py-5">
                <h2 class="text-center">Reserve Your Table Now</h2>
                <form id="reserveForm">
                    <div class="row">
                        <div class="col-lg-3 offset-lg-3 col-sm-12 d-flex flex-column justify-content-center">
                            <div class="mb-3">
                                <label for="reserveName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="reserveName">
                            </div>
                            <div class="mb-3">
                                <label for="reserveEmail" class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="reserveEmail">
                            </div>
                            <div class="mb-3">
                                <label for="reservePhone" class="form-label">Phone No.</label>
                                <input type="tel" class="form-control" id="reservePhone">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12 d-flex flex-column justify-content-center">
                            <div class="mb-3">
                                <label for="reservePerson" class="form-label">How Many Person</label>
                                <select class="form-select" id="reservePerson">
                                    <option value=1>1 person</option>
                                    <option value=2>2 persons</option>
                                    <option value=3>3 persons</option>
                                    <option value=4>4 persons</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="reserveDate" class="form-label">Date</label>
                                <input type="date" class="form-control" id="reserveDate">
                            </div>
                            <div class="mb-3">
                                <label for="reserveHour" class="form-label">Hour</label>
                                <input type="time" class="form-control" id="reserveHour">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button id="reserveSubmit" type="submit" class="btn btn-outline-dark mb-2">RESERVE A TABLE</button>
                        <div class="my-auto" id="reserveMessageResult"></div>
                    </div>
                </form>
            </div>
        </section>

        <!--testimonial section-->
        <section id="testimonial-section">
            <div class="container py-5">
                <div class="col-lg-5 offset-lg-7 col-sm-12 testimonial-box">
                    <i class="fa-solid fa-quote-right"></i>
                    <p class="testimonial-text">{{ testimonialSection.text3 }}</p>
                    <p class="testimonial-name">{{ testimonialSection.text2 }}</p>
                </div>
            </div>
        </section>

        <!--values section-->
        <section id="values-section">
            <div class="container py-5">
                <h2 class="text-center">{{ valuesMainSection.text1 }}</h2>
                <p class="text-center">{{ valuesMainSection.text2 }}</p>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <div class="card text-white">
                            <img src="/assets/images/card-1.jpg" class="card-img" alt="card-image">
                            <div class="card-body text-center">
                                <h5 class="card-title text-center"><i class="values-icon fa-solid fa-fish-fins"></i></h5>
                                <h5>{{ valuesSection1.text1 }}</h5>
                                <p class="card-text">{{ valuesSection1.text2 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card text-white">
                            <img src="/assets/images/card-2.jpg" class="card-img" alt="card-image">
                            <div class="card-body text-center">
                                <h5 class="card-title text-center"><i class="values-icon fa-solid fa-fire-burner"></i></h5>
                                <h5>{{ valuesSection2.text1 }}</h5>
                                <p class="card-text">{{ valuesSection2.text2 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card text-white">
                            <img src="/assets/images/card-3.jpg" class="card-img" alt="card-image">
                            <div class="card-body text-center">
                                <h5 class="card-title text-center"><i class="values-icon fa-solid fa-heart"></i></h5>
                                <h5>{{ valuesSection3.text1 }}</h5>
                                <p class="card-text">{{ valuesSection3.text2 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </page>

{% endblock %}