{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {#    {% if session.use %}#}
    <page data-title="dashboard-menu-edit">

        <div class="container">
            <h1 class="my-1">Dashboard - Edit menu</h1>
            <div class="my-1">Hello {{ session.use }}.</div>
            <div class="my-1">Last Login:</div>
            <div class="row d-flex justify-content-center my-2">

                {% include "common/partial/_dashboard_menu.html.twig" %}

                <div class="col border rounded-3 bg-dark text-light py-3 mx-2">
                    <div class="row px-3">
                        <h4 class="mb-2">Menu Item</h4>


                            <div class="border border-light rounded-3 mb-4">
                                <form>
                                    <div class="mb-3">
                                        <label for="header-heading" class="form-label">Item</label>
                                        <input type="text" class="form-control" id="header-heading" value="{{ viewMenuItem.menuItem }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="header-subheading" class="form-label">Description</label>
                                        <input type="text" class="form-control" id="header-subheading" value="{{ viewMenuItem.menuDescription }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="header-subheading" class="form-label">Price</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="header-subheading" value="{{ viewMenuItem.price }}">
                                            <span class="input-group-text">€</span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="header-subheading" class="form-label">Category</label>
                                        {#<a class="btn btn-secondary text-light mb-2"><i class="fa-solid fa-circle-plus"></i></a>

                                        {% for menuCategory in viewMenuItemCategories %}
                                        <div class="input-group mb-2">
                                            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                                <option>Choose Category</option>

                                                {% for category in viewAllCategories %}
                                                <option value="{{ category.id }}"

                                                        {% if menuCategory.categoryTitle == category.categoryTitle %}
                                                            {% set select = 'selected' %}
                                                                 {{ select }}
                                                        {% endif %}

                                                >{{ category.categoryTitle }}</option>
                                                {% endfor %}

                                            </select>
                                            <button class="btn btn-danger" type="button"><i class="fa-solid fa-trash-can"></i></button>
                                        </div>
                                        {% endfor %}#}


                                        {% for category in viewAllCategories %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{ category.id }}" id="flexCheckChecked"

                                            {% for menuCategory in viewMenuItemCategories %}
                                                    {% if menuCategory.categoryTitle == category.categoryTitle %}
                                                        {% set check = 'checked' %}
                                                        {{ check }}
                                                    {% endif %}
                                            {% endfor %}
                                            >
                                            <label class="form-check-label" for="flexCheckChecked">
                                                {{ category.categoryTitle }}
                                            </label>
                                        </div>
                                        {% endfor %}


                                    </div>
                                </form>
                                <div>
                                    <p>Created: {{ viewMenuItem.createdAt|date("d-m-Y H:i:s", "Europe/Paris") }}</p>
                                    <p>Last Updated: {{ viewMenuItem.updatedAt|date("d-m-Y H:i:s", "Europe/Paris") }}</p>
                                </div>
                                <div class="mb-3 text-center">
                                    <a class="btn btn-primary" id="headerSubmit">Save <i class="fa-solid fa-floppy-disk"></i></a>
                                </div>
                                <div id="headerMessageResult"></div>
                            </div>


                    </div>
                </div>
            </div>
        </div>

    </page>
    {#    {% else %}#}
    {#        <div class="container mt-5 vh-100">#}
    {#            This page is only accessible by administrator. Please log in <a class="text-black" href="/admin-login">here</a> first.#}
    {#        </div>#}
    {#    {% endif %}#}

{% endblock %}