{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {% if session.use %}
        <page data-title="dashboard">

            <div class="container">
                <h1 class="my-1">Dashboard - Homepage</h1>
                <div class="my-1">Hello {{ session.use }}.</div>
                <div class="my-1">Last Login: {{ session.userLastLogin|date("d-m-Y H:i:s", "Europe/Paris") }}</div>
                <div class="row d-flex justify-content-center my-2">

                    {% include "common/partial/_dashboard_menu.html.twig" %}

                    <div class="col border rounded-3 bg-dark text-light py-3 mx-lg-2 mx-md-0 mx-sm-0">

                        {#header section#}
                        <div class="row px-3">
                            <h4 class="mb-2">Header Section</h4>
                            <div class="border border-light rounded-3">
                                <form>
                                    <div class="mb-3">
                                        <label for="header-heading" class="form-label">Heading</label>
                                        <input type="text" class="form-control" id="header-heading" value="{{ headerSection['text1'] }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="header-subheading" class="form-label">Sub Heading</label>
                                        <input type="text" class="form-control" id="header-subheading" value="{{ headerSection['text2'] }}">
                                    </div>
                                </form>
                                <div>
                                    <p>Last Updated: {{ headerSection['updatedAt']|date("d-m-Y H:i:s", "Europe/Paris") }}</p>
                                </div>
                                <div class="text-center mb-3">
                                    <button class="btn btn-primary" id="headerSubmit">Save Update <i class="fa-solid fa-floppy-disk"></i></button>
                                </div>
                                <div id="headerMessageResult"></div>
                            </div>
                        </div>

                        {#hours section#}
                        <div class="row px-3 mt-3">
                            <h4 class="mb-2">Hours Section</h4>
                            <div class="border border-light rounded-3">
                                <form>
                                    <div class="mb-3">
                                        <label for="hours-text1" class="form-label">Heading</label>
                                        <input type="text" class="form-control" id="hours-text1" value="{{ hoursSectionMain.text1 }}">
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="hours-text2" class="form-label">Sub Heading Left</label>
                                                <input type="text" class="form-control" id="hours-text2" value="{{ hoursSection1.text1 }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="hours-text3" class="form-label">Sub Sub Heading Left</label>
                                                <input type="text" class="form-control" id="hours-text3" value="{{ hoursSection1.text2 }}">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="hours-text4" class="form-label">Sub Heading Right</label>
                                                <input type="text" class="form-control" id="hours-text4" value="{{ hoursSection2.text1 }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="hours-text5" class="form-label">Sub Sub Heading Right</label>
                                                <input type="text" class="form-control" id="hours-text5" value="{{ hoursSection2.text2 }}">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div>
                                    <p>Last Updated: {{ hoursSectionMain.updatedAt|date("d-m-Y H:i:s", "Europe/Paris") }}</p>
                                </div>
                                <div class="text-center mb-3">
                                    <button class="btn btn-primary" id="hoursSubmit">Save Update <i class="fa-solid fa-floppy-disk"></i></button>
                                </div>
                                <div id="hoursMessageResult"></div>
                            </div>
                        </div>

                        {#testimonial section#}
                        <div class="row px-3 mt-3">
                            <h4 class="mb-2">Testimonial Section</h4>
                            <div class="border border-light rounded-3">
                                <form>
                                    <div class="mb-3">
                                        <label class="form-label">Testimonial Text</label>
                                        <textarea rows="4" type="text" class="form-control" id="">{{ testimonialSection['text3'] }}</textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Reviewer's Name</label>
                                        <input type="text" class="form-control" id="" value="{{ testimonialSection['text2'] }}">
                                    </div>
                                </form>
                                <div>
                                    <p>Last Updated: {{ testimonialSection['updatedAt']|date("d-m-Y H:i:s", "Europe/Paris") }}</p>
                                </div>
                                <div class="text-center mb-3">
                                    <button class="btn btn-primary" id="">Save Update <i class="fa-solid fa-floppy-disk"></i></button>
                                </div>
                                <div id=""></div>
                            </div>
                        </div>

                        {#values section#}
                        <div class="row px-3 mt-3">
                            <h4 class="mb-2">Values Section</h4>
                            <div class="border border-light rounded-3">
                                <form>
                                    <div class="mb-3">
                                        <label class="form-label">Heading</label>
                                        <input type="text" class="form-control" id="" value="{{ valuesMainSection.text1 }}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Sub Heading</label>
                                        <input type="text" class="form-control" id="" value="{{ valuesMainSection.text2 }}">
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="hours-text2" class="form-label">Sub Sub Heading</label>
                                                <input type="text" class="form-control" id="hours-text2" value="{{ valuesSection1.text1 }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="hours-text2" class="form-label">Text</label>
                                                <textarea rows="3" type="text" class="form-control" id="">{{ valuesSection1.text2 }}</textarea>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="hours-text2" class="form-label">Sub Sub Heading</label>
                                                <input type="text" class="form-control" id="hours-text2" value="{{ valuesSection2.text1 }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="hours-text2" class="form-label">Text</label>
                                                <textarea rows="3" type="text" class="form-control" id="">{{ valuesSection2.text2 }}</textarea>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="hours-text2" class="form-label">Sub Sub Heading</label>
                                                <input type="text" class="form-control" id="hours-text2" value="{{ valuesSection3.text1 }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="hours-text2" class="form-label">Text</label>
                                                <textarea rows="3" type="text" class="form-control" id="">{{ valuesSection3.text2 }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div>
                                    <p>Last Updated: {{ valuesMainSection.updatedAt|date("d-m-Y H:i:s", "Europe/Paris") }}</p>
                                </div>
                                <div class="text-center mb-3">
                                    <button class="btn btn-primary" id="">Save Update <i class="fa-solid fa-floppy-disk"></i></button>
                                </div>
                                <div id=""></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </page>
    {% else %}
        <div class="container mt-5 vh-100">
            This page is only accessible by administrator. Please log in <a class="text-black" href="/admin-login">here</a> first.
        </div>
    {% endif %}

{% endblock %}