{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {% if session.use %}
        <page data-title="dashboard-reservation">

            <div class="container">
                <h1 class="my-1">Dashboard - Reservation</h1>
                <div class="my-1">Hello {{ session.use }}.</div>
                <div class="my-1">Last Login: {{ session.userLastLogin|date("d-m-Y H:i:s", "Europe/Paris") }}</div>
                <div class="row d-flex justify-content-center my-2">

                    {% include "common/partial/_dashboard_menu.html.twig" %}

                    <div class="col border rounded-3 bg-dark text-light py-3 mx-2">
                        <div class="row px-3">
                            <div class="d-flex justify-content-between mb-3">
                                <h4>Reservation List</h4>
                            </div>

                            <div class="border border-light rounded-3 mb-4">
                                <table class="table text-light">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Person</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Sent</th>
                                        <th scope="col">Status</th>
                                        <th class="text-center" colspan="2" scope="colgroup">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for reserve in viewReservationList %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ reserve.name }}</td>
                                        <td>{{ reserve.email }}</td>
                                        <td>{{ reserve.phone }}</td>
                                        <td>{{ reserve.person }}</td>
                                        <td>{{ reserve.date|date("d/m/y") }}</td>
                                        <td>{{ reserve.hour }}</td>
                                        <td>{{ reserve.createdAt|date("H:i d/m/y") }}</td>
                                        {#<td>{{ reserve.status }}</td>#}

                                        <td>
                                        <div class="input-group mb-2">
                                            <select class="form-select" id="{{ reserve.idForm }}" aria-label="Example select with button addon" onchange="getValues(this)">
                                                <option>Choose Status</option>
                                                {% for eachStatus in viewAllStatus %}
                                                    <option value="{{ eachStatus.id }}"
                                                            {% if reserve.status == eachStatus.status %}
                                                                {% set select = 'selected' %}
                                                                selected = {{ select }}
                                                            {% endif %}
                                                    >{{ eachStatus.status }}</option>
                                                {% endfor %}
                                            </select>
                                            {#<a class="btn btn-success" onclick="updateStatus(this)" id="{{ reserve.idForm }}" type="button" title="Save Change"><i class="fa-solid fa-floppy-disk"></i></a>#}
                                        </div>
                                        </td>

                                        <td><a href="mailto: {{ reserve.email }}" class="btn btn-primary" title="Reply"><i class="fa-solid fa-reply"></i></a></td>
                                        {#<td><a href="/dashboard/message/delete/{{ message.id }}" class="btn btn-danger" title="Delete"><i class="fa-solid fa-trash-can"></i></a></td>#}

                                        <!-- Button trigger modal -->
                                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ message.id }}" title="Delete">
                                                <i class="fa-solid fa-trash-can"></i>
                                        </button></td>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{ message.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-dark" id="exampleModalLabel">Delete Reservation</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body text-dark">
                                                        Are you sure you want to delete this reservation?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, I'm not sure</button>
                                                        <a href="/dashboard/message/delete/{{ message.id }}" type="button" class="btn btn-danger">Yes, I want to delete it</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </page>
    {% else %}
        <div class="container mt-5 vh-100">
            This page is only accessible by administrator. Please log in <a class="text-black" href="/admin-login">here</a> first.
        </div>
    {% endif %}

{% endblock %}