{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {% if session.use %}
        <page data-title="dashboard-message">

            <div class="container">
                <h1 class="my-1">Dashboard - Message</h1>
                <div class="my-1">Hello {{ session.use }}.</div>
                <div class="my-1">Last Login: {{ session.userLastLogin|date("d-m-Y H:i:s", "Europe/Paris") }}</div>
                <div class="row d-flex justify-content-center my-2">

                    {% include "common/partial/_dashboard_menu.html.twig" %}

                    <div class="col border rounded-3 bg-dark text-light py-3 mx-2">
                        <div class="row px-3">
                            <div class="d-flex justify-content-between mb-3">
                                <h4>Messages</h4>
                            </div>

                            <div class="border border-light rounded-3 mb-4">
                                <div class="table-responsive table-responsive-md table-responsive-lg">
                                    <table class="table text-light">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Subject</th>
                                            <th scope="col">Message</th>
                                            <th scope="col">Sent at</th>
                                            <th class="text-center" colspan="2" scope="colgroup">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for message in viewMessages %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ message.name }}</td>
                                            <td>{{ message.email }}</td>
                                            <td>{{ message.phone }}</td>
                                            <td>{{ message.subject }}</td>
                                            <td>{{ message.message }}</td>
                                            <td>{{ message.createdAt|date("H:i d/m/Y") }}</td>
                                            <td><a href="mailto: {{ message.email }}" class="btn btn-primary"
                                                   title="Reply"><i class="fa-solid fa-reply"></i></a></td>
                                            {# <td><a href="/dashboard/message/delete/{{ message.id }}" class="btn btn-danger" title="Delete"><i class="fa-solid fa-trash-can"></i></a></td> #}

                                            <!-- Button trigger modal -->
                                            <td>
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal{{ message.id }}" title="Delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </td>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal{{ message.id }}" tabindex="-1"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-dark" id="exampleModalLabel">
                                                                Delete Message</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body text-dark">
                                                            Are you sure you want to delete this message?
                                                            <br>Deleting this data cannot be undone.
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">No, I'm not sure
                                                            </button>
                                                            <a href="/dashboard/message/delete/{{ message.id }}"
                                                               type="button" class="btn btn-danger">Yes, I want to
                                                                delete it</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </page>
    {% else %}
        <div class="container mt-5 vh-100">
            This page is only accessible by administrator. Please log in <a class="text-black" href="/admin-login">here</a> first.
        </div>
    {% endif %}

{% endblock %}